{% extends "layout.njk" %}

{% block content %}
  <main>
    <section>
      <div class="banner">
        <div>
          <h1>As Melhores Receitas</h1>
          <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </div>
        <img src="/assets/chef.png" alt="Chefe">
      </div>
    </section>

    <article>
      <h2>Mais acessadas</h2>
      <div class="cards">

        {% for recipe in recipes %}
          <div class="card">
            <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
            <div>
              <h4 class="title">{{recipe.title}}</h4>
              <p class="chef">por {{recipe.author}}</p>
            </div>
          </div>
        {% endfor %}

      </div>
    </article>
  </main>

  <script src="/scripts.js"></script>

{% endblock %}}