<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/admin.css">

  <title>Foodfy</title>
</head>
<body>

    <div class="header">
      <header>
        <a href="/admin/recipes">
          <img src="/assets/logo_white.png" alt="Logo Foodfy">
        </a>
      </header>
    </div>

  {% block content %}
  {% endblock %}

  
</body>
</html>